html, body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  margin-top: 60px;
  padding: 15px;
  transition: margin-left 250ms ease-in-out;
}

@media (max-width: 768px) {
  .main-container {
    margin-left: 0 !important;
    padding: 10px;
  }
  
  .sidebar-nav {
    width: 100vw !important;
  }
}

@media (max-width: 576px) {
  .main-container {
    padding: 5px;
  }
}