@media (max-width: 768px) {
    .main-container {
        margin-left: 0;
    }
}

/*Student Management*/
.student-container {
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 250ms ease-in-out;
}

.student-title {
    text-align: center;
    margin-bottom: 20px;
}

.student-search-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 10%;
    margin-right: 5px;
}

.student-search-select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 10%;
}

.student-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.student-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.student-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.student-button:hover {
    background-color: #45a049;
}

.addbuttoncard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.addbuttoncard:hover {
    background-color: #e0e0e0;
}

.backbutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 5px;
}

.backbutton:hover {
    background-color: #45a049;
}

/*Edit Student*/
.edit-student-container {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    transition: margin-left 250ms ease-in-out;
}

.edit-student-title {
    text-align: center;
    margin-bottom: 20px;
}

.edit-student-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}

.edit-student-button:hover {
    background-color: #45a049;
}

.edit-student-input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
}

/*Add Student*/

.add-student-container {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    transition: margin-left 250ms ease-in-out;
}

.add-student-title {
    text-align: center;
    margin-bottom: 20px;
}

.add-student-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}

.add-student-button:hover {
    background-color: #45a049;
}

.add-student-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
}

/*View Student*/
.view-student-container {
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 250ms ease-in-out;
}

.view-student-title {
    text-align: center;
    margin-bottom: 20px;
}

.view-student-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}

.view-student-button:hover {
    background-color: #45a049;
}

.view-student-group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.view-student-group-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

