@media (max-width: 768px) {
    .main-container {
        margin-left: 0;
    }
}

/*Group And Certificate Register*/
.group-certificate-register-container {
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 250ms ease-in-out;
    text-align: center;
}

.group-certificate-register-title {
    text-align: center;
    margin-bottom: 10px;
}

.group-certificate-register-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
.group-certificate-register-button:hover {
    background-color: #45a049;
}

/*Group Register Management*/
.group-register-management-container {
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 250ms ease-in-out;
    text-align: center;
}

.group-register-management-title {
    text-align: center;
    margin-bottom: 5px;
}

.group-register-management-select {
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.group-register-management-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}
.group-register-management-button:hover {
    background-color: #45a049;
}

/*Group Register*/
.group-register-container {
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 250ms ease-in-out;
}

.group-register-title {
    text-align: center;
    margin-bottom: 10px;
}

.group-register-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.group-register-button:hover {
    background-color: #45a049;
}

.group-register-table {
    width: 35%;
    border-collapse: collapse;
    margin-top: 20px;
}

.group-register-table th, .group-register-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.group-register-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.group-register-table td {
    background-color: #fff;
}

.group-register-main-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.group-register-main-table th, .group-register-main-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.group-register-main-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.group-register-main-table td {
    background-color: #fff;
}


/*Certificate Register*/
.certificate-register-container {
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 250ms ease-in-out;
}

.certificate-register-title {
    text-align: center;
    margin-bottom: 10px;
}

.certificate-register-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}
.certificate-register-button:hover {
    background-color: #45a049;
}

.certificate-register-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.certificate-register-table th, .certificate-register-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.certificate-register-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.certificate-register-table td {
    background-color: #fff;
}